.y,
.month {
    font-size: 24px;
    color: #708090;
}

.table　{
    height: 100%;
}

th {
    height: 20px;
    text-align: center;
}

td {
    height: 100px;
    text-align: center;
}

th:nth-of-type(1),
td:nth-of-type(1) {
    color: #708090;
}

th:nth-of-type(7),
td:nth-of-type(7) {
    color: #708090;
}

.today {
    background: #f7f8fa;
}
