.y,
.month {
    font-size: 20px;
    color: #B0C4DE;
}

th {
    height: 40px;
    text-align: center;
}

td {
    height: 80px;
    text-align: center;
}

th:nth-of-type(1),
td:nth-of-type(1) {
    color: #B0C4DE;
}

th:nth-of-type(7),
td:nth-of-type(7) {
    color: #B0C4DE;
}

.today {
    background: #F0F8FF;
}
