body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fcfcfc;
  color: #3c3c3c;
}

.form-control:focus {
  border-color: #b4c8dc;
  box-shadow: 0 0 0 0.2rem rgba(160, 180, 220, 0.2);
}

.hibi-color {
  color: #8da0b6;
  font-size: 60px;
}

.ymd-color {
  color: #8da0b6;
}

.btn-color {
  color: #8ca0b4;
  border-color: #8ca0b4;
}

.btn-color:hover {
  color: #fff;
  background-color: #8ca0b4;
  border-color: #8ca0b4;
}

.btn-color:focus,
.btn-color.focus {
  box-shadow: 0 0 0 0.2rem rgba(120, 140, 180, 0.5);
}

.btn-color.disabled,
.btn-color:disabled {
  color: #8ca0b4;
  background-color: transparent;
}

.btn-color:not(:disabled):not(.disabled):active,
.btn-color:not(:disabled):not(.disabled).active,
.show > .btn-color.dropdown-toggle {
  color: #fff;
  background-color: #8ca0b4;
  border-color: #8ca0b4;
}

.btn-color:not(:disabled):not(.disabled):active:focus,
.btn-color:not(:disabled):not(.disabled).active:focus,
.show > .btn-color.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(120, 140, 180, 0.5);
}
